@model EpiControl.Models.HomeView

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="~/lib/firebase/firebase-app.js"></script>
    <script src="~/lib/firebase/firebase-messaging.js"></script>

    <script src="~/lib/odometer.min.js"></script>
    <script src="~/js/chart-config.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/js/data.js?v=1.1"></script>
    <script src="~/js/render.js?v=1.1"></script>
    <script src="~/js/app.js?v=1.1"></script>
    <script src="~/js/messaging.js?v=1"></script>
    <script src="~/lib/signalr/signalr.js"></script>


    <script>

        //launch
        $(document).ready(function () {



            $.ajaxSetup({ cache: false });

            let urls = {
                base : '@Url.Content("~")',
                getPatients: '@Url.Action("GetPatients")',
                getPatientDetails: '@Url.Action("GetPatientDetails")',
                addPatient: '@Url.Action("AddPatient")',
                apiUrl: '@Model.ApiUrl',
                addToLocalDB: '@Url.Action("AddLocalPatient")'
            };

            CONFIG.urls = urls;

            //check browser isn't IE11
            if (!!window.MSInputMethodContext && !!document.documentMode)
            {
                $('#browser-warning').show();
                $('.control-container').hide();
            } else {
                //fire this Mother up
                APP.init(urls)
                    .then(() => {
                        MESSAGE.initSignalR();
                       MESSAGE.initFirebase();
                    })
            }
        })

    </script>
}
    <div class="container ml-3">
        <div class="alert alert-danger" id="browser-warning" style="display:none" role="alert">
            <p>THIS APPLICATION DOES NOT SUPPORT INTERNET EXwPLORER 11.</p>
            <p>PLEASE USE A MODERN BROWSER SUCH AS GOOGLE CHROME, MICROSOFT EDGE OR MOZILLA FIREFOX.</p>
        </div>
        @*<div class="alert alert-danger" id="system-error" style="display:none" role="alert"></div>*@
        <div class="" id="system-message" style="display:none" role="alert"></div>
    </div>

<div class="container control-container  mt-3 ">
    <div class="input-group ml-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Meeting:</span>
        </div>

        <select style="display:none" class="meeting-choice   rounded" title="Pick a meeting" id="meetingChoices">
           
        </select>
        <div class="ml-2 meeting-loader">
            <span>Loading....</span>   <img style="width:40px" src="~/images/loader.gif" />
        </div>

  

        <button type="button" id="addNewMeeting" class="ml-5 btn btn-info">Add meeting</button>
    </div>

    <div style="background-color:#e8e8d6;display:none" id="controlPanel" class="container control-panel border p-3 m-3 rounded">

        <div class="row mb-4">
            <div id="" class="col-4">
                <h2 class="meeting-count">In meeting: <span class="badge odometer pl-4 pr-4 active-members badge-primary"></span></h2>
            </div>
            <div id="meetingCode" class="col-4">

            </div>
            <div id="meetingStatus" class="col-4">

            </div>
        </div>


        <div class="row ">
            <div id="patients" class="col-9 " style="display:inline-block">

            </div>
            <div class="col-2">
                <button type="button" id="addNewPatient" class=" btn btn-info">Add patient</button>
            </div>

        </div>

    </div>

    <div style="background-color:#e8e8d6;display:none" class="container border m-3 question-panel">
        <div class="row patient-details " style="background-color:#f2f2b1">
            <div id="patientNumber" class="col-2">

            </div>
            <div id="hospitalNumber" class="col-2">

            </div>
            <div id="patientName" class="col-3">

            </div>
            <div id="patientDOB" class="col-2">

            </div>
            <div id="patientAge" class="col-3">

            </div>
        </div>


        <div class="row  p-4">
            <div class="col-5" id="questions"></div>
            <div style="background-color:white" class="col-6 text-center question-result">
                <div class="mt-2" id="score"></div>
                <div id="results">
                    <canvas id="chart"></canvas><br />
                    <button class="btn btn-outline-danger mb-2  text-center release-results">Release results</button>
                    <button class="btn btn-outline-primary mb-2 enlarge-chart">Show large chart</button>
                </div>
              
            </div>
        </div>
    </div>

    <div class="mt-5" id="test"></div>

</div>


<!--***********************************************************************
*************************** DIALOGS***************************************
**************************************************************************-->
<!--ADD NEW QUESTION-->
<div id="addNewQuestionDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger text-center">**DO NOT INCLUDE ANY PATIENT INDENTIFIABLE INFORMATION**.</p>
                <form>
                    <div class="form-group">
                        <label>Question</label>
                        <input class="form-control" id="newQuestionText" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitNewQuestion" class="btn btn-primary">Save question</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--SHOW FULL CHART-->
<div id="showFullResultsDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" style="width:100%" id="bigScore"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <canvas id="bigChart"></canvas>
            </div>
        </div>
    </div>
</div>

<!--ENLARGE MEETING CODE-->
<div id="showMeetingCodeDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title"><h3>Meeting code</h3></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1 id="largeMeetingCode" style="text-align:center;font-size:5.5em"></h1>
            </div>
        </div>
    </div>
</div>

<!--ADD PATIENT-->
<div id="addNewPatientDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="addPatientError" style="display:none;">

                </div>
                <form id="newPatientForm">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Hospital number</label>
                                <input class="form-control" id="newHospitalNumber" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>DOB</label>
                                <input class="form-control" id="newDOB" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Firstname</label>
                                <input class="form-control" id="newFirstname" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label> Surname</label>
                                <input class="form-control" id="newSurname" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitNewPatient" class="btn btn-primary">Save patient</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--CHANGE MEETING STATUS-->
<div id="changeMeetingStatusDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="meetingStatusTitle" class="modal-title">

                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <button class="btn btn-lg btn-success open-meeting">Open Meeting</button>
                <button class="btn btn-lg btn-secondary close-meeting  ">Close Meeting</button>
            </div>
        </div>
    </div>
</div>

<!--Add new meeting-->
<div id="addNewMeetingDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new meeting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              
                <form>
                    <div class="form-group">
                        <label>Meeting date time</label>
                        <input class="form-control" style="width:200px;" id="newMeetingDateTime" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitNewMeeting" class="btn btn-primary">Create meeting</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>